:root{
    --couleur1: #6756B9;
    --couleur2: #7B6CC5;
    --couleur3: #ffc8dd;
    --couleur4: hotpink;
}

body{
    font-family: cursive;
    background-color:var(--couleur1) ;
    color: #fff;
    margin-bottom: 5px;
    margin: 0%;
    padding: 0%;
}
.container{
    width: 50%;
    margin: 50px auto;
}

h1{
    text-align: center;
}

form{
    display: block;
    background-color: var(--couleur2);
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px;
    width: 50%;
    box-shadow: 0px 0px 15px 5px #bde0fe;

}
.items-wrap{
    display: block;
    margin: 20px 0;
}
input{
    border:none;
    padding: 5px;
    border-radius: 6px;
}
#status{
    border:none;
    padding: 5px;
    border-radius: 6px;
}
#priority{
    border:none;
    padding: 5px;
    border-radius: 6px;   
}
label{
    font-weight: 100px;
}
button{
    padding: 10px;
    background-color: var(--couleur3);
    color: #fff;
    border: pointer;
    border-radius:10px;
    font-weight: 100px;
    font-family: cursive;
    transition: background-color 0.3s ease; /* Animation de transition */
}
button:hover{
    background-color: var(--couleur4);
    color: #333;
}
#task-list{
   margin: 40px;
   display: grid;
   grid-template-columns: repeat(2, 4fr);

}
.task{
   background-color: var(--couleur2);
   border-radius: 20px;
   padding: 10px;
   margin: 20px;
}
.task span{
    font-weight: 100px;
}
.task .delete {
    color: var(--couleur4);
    cursor: pointer;
    float: right;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    .container{
        width: 80%;
    }

    form{
        width: 80%;
    }
    
    #task-list{
        grid-template-columns: 1fr;
    }
    
    .task{
        margin: 20px auto;
    }
}